In [504]:
import pandas as pd

In [505]:
stats = pd.read_csv("player_rookie_stats.csv", index_col=0)

In [506]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,36,LAL,82,82,23.5,2.1,4.7,0.447,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
1,Brian Shaw,SG,33,LAL,74,2,16.9,1.7,4.4,0.382,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
2,Derek Fisher,PG,25,LAL,78,22,23.1,2.1,6.2,0.346,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
3,Devean George,SF,22,LAL,49,1,7.0,1.1,2.9,0.389,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
4,Glen Rice,SF,32,LAL,80,80,31.6,5.3,12.3,0.430,...,0.0,0.0,Los Angeles Lakers,67,15,0.817,0.0,100.8,92.3,8.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10370,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
10371,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
10372,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
10373,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
10374,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [507]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          34
3P            0
3PA           0
3P%        1424
2P            0
2PA           0
2P%          66
eFG%         34
FT            0
FTA           0
FT%         363
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Season        0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [508]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]].head()

            Player  3PA
6      John Salley  0.0
12   Travis Knight  0.0
17   Anthony Mason  0.0
23  Duane Causwell  0.0
29     Todd Fuller  0.0

In [509]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]].head()

             Player  FTA
26   Jamal Robinson  0.0
30    A.J. Bramlett  0.0
33  Benoit Benjamin  0.0
77      A.J. Guyton  0.0
87       Guy Rucker  0.0

In [510]:
stats = stats.fillna(0)

In [511]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Season',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [512]:
# was taken off from predictors'W', 'L', 'W/L%', 'TOV', 'PF', 'SRS, 'PA/G''GB', 'PS/G', 'eFG%', 'ORB', 'DRB', 'TRB',  "G",
predictors = [ "GS", "MP", "FG", "FGA", 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',  'FT', 'FTA',  'FT%',  'AST', 'STL', 'BLK',  'PTS',   ]

In [513]:
train = stats[~(stats["Season"] == 2020)]
test = stats[stats["Season"] == 2020]

In [514]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.05)

In [515]:
reg.fit(train[predictors],train["Share"])

Ridge(alpha=0.05)

In [516]:
predictions = reg.predict(test[predictors])
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [517]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [518]:
combination.sort_values("Share", ascending=False).head(20)

                 Player  Share  predictions
6555          Ja Morant  0.996     0.016985
4778      Kendrick Nunn  0.408     0.008595
8625    Zion Williamson  0.280     0.009926
6549     Brandon Clarke  0.100    -0.003999
1181         Coby White  0.006     0.004196
9646      Terence Davis  0.004    -0.001474
2791      Eric Paschall  0.004     0.002614
3575         RJ Barrett  0.002     0.017370
7887     Brandon Knight  0.000     0.001990
7888        Bruce Brown  0.000     0.007478
7889     Christian Wood  0.000     0.000569
7890       Derrick Rose  0.000     0.007962
7892        John Henson  0.000     0.002514
7891     Derrick Walton  0.000    -0.002578
7838  Willy Hernangómez  0.000     0.001369
7893        Jordan Bone  0.000    -0.000383
7894       Jordan McRae  0.000     0.006019
7895       Khyri Thomas  0.000    -0.000531
7896  Langston Galloway  0.000    -0.004736
7897         Louis King  0.000    -0.000287

In [519]:
# using scikit library for more error-detection, in order to get a more accurate prediction
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.002305385891017167

In [520]:
combination["Share"].value_counts()

0.000    521
0.004      2
0.006      1
0.002      1
0.408      1
0.100      1
0.996      1
0.280      1
Name: Share, dtype: int64

In [521]:
Actual = combination.sort_values("Share", ascending=False)
Predicted = combination.sort_values("predictions", ascending=False)
Actual["Rk"] = list(range(1,Actual.shape[0]+1))
Predicted["Predicted_Rk"] = list(range(1,Predicted.shape[0]+1))

In [522]:
Actual.merge(Predicted, on="Player").head(5)

,Player,Share_x,predictions_x,Rk,Share_y,predictions_y,Predicted_Rk
0,Ja Morant,0.996,0.016985,1,0.996,0.016985,12
1,Kendrick Nunn,0.408,0.008595,2,0.408,0.008595,67
2,Zion Williamson,0.280,0.009926,3,0.280,0.009926,53
3,Brandon Clarke,0.100,-0.003999,4,0.100,-0.003999,508
4,Coby White,0.006,0.004196,5,0.006,0.004196,135

In [523]:
Actual.merge(Predicted, on="Player").head(100).sort_values("Predicted_Rk", ascending=True)

,Player,Share_x,predictions_x,Rk,Share_y,predictions_y,Predicted_Rk
72,Russell Westbrook,0.000,0.023918,73,0.000,0.023918,2
81,Luka Dončić,0.000,0.023853,82,0.000,0.023853,3
7,RJ Barrett,0.002,0.017370,8,0.002,0.017370,9
0,Ja Morant,0.996,0.016985,1,0.996,0.016985,12
82,Kristaps Porziņģis,0.000,0.015224,83,0.000,0.015224,18
...,...,...,...,...,...,...,...
50,Stanton Kidd,0.000,-0.003477,51,0.000,-0.003477,495
21,Nicolas Batum,0.000,-0.003555,22,0.000,-0.003555,496
28,Jalen McDaniels,0.000,-0.003843,29,0.000,-0.003843,503
3,Brandon Clarke,0.100,-0.003999,4,0.100,-0.003999,508
18,Langston Galloway,0.000,-0.004736,19,0.000,-0.004736,518

In [524]:
Actual.merge(Predicted, on="Player").head(10)

,Player,Share_x,predictions_x,Rk,Share_y,predictions_y,Predicted_Rk
0,Ja Morant,0.996,0.016985,1,0.996,0.016985,12
1,Kendrick Nunn,0.408,0.008595,2,0.408,0.008595,67
2,Zion Williamson,0.280,0.009926,3,0.280,0.009926,53
3,Brandon Clarke,0.100,-0.003999,4,0.100,-0.003999,508
4,Coby White,0.006,0.004196,5,0.006,0.004196,135
5,Terence Davis,0.004,-0.001474,6,0.004,-0.001474,430
6,Eric Paschall,0.004,0.002614,7,0.004,0.002614,190
7,RJ Barrett,0.002,0.017370,8,0.002,0.017370,9
8,Brandon Knight,0.000,0.001990,9,0.000,0.001990,211
9,Bruce Brown,0.000,0.007478,10,0.000,0.007478,83

In [525]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index,row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found / seen)
        seen += 1

    return sum(ps) / len(ps)

In [526]:
find_ap(combination)

0.041063490221518235

In [527]:
seasons = list(range(2000,2022))

In [528]:
aps = []
all_predictions = []
for season in seasons[5:]:
    train = stats[stats["Season"] < season]
    test = stats[stats["Season"] == season]
    reg.fit(train[predictors],train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [529]:
sum(aps) / len(aps)

0.05513208535616236

In [530]:
def add_ranks(predictions):
    predictions = predictions.sort_values("predictions", ascending=False)
    predictions["Predicted_Rk"] = list(range(1,predictions.shape[0]+1))
    predictions = predictions.sort_values("Share", ascending=False)
    predictions["Rk"] = list(range(1,predictions.shape[0]+1))
    predictions["Diff"] = (predictions["Rk"] - predictions["Predicted_Rk"])
    return predictions

In [531]:
add_ranks(all_predictions[1])

                  Player  Share  predictions  Predicted_Rk   Rk  Diff
955           Chris Paul  0.997    -0.000399           313    1  -312
3840  Charlie Villanueva  0.397     0.005192           129    2  -127
5236        Andrew Bogut  0.157     0.006349           113    3  -110
2345      Raymond Felton  0.126     0.003905           153    4  -149
5778       Channing Frye  0.066     0.006485           110    5  -105
...                  ...    ...          ...           ...  ...   ...
3900         Kurt Thomas  0.000     0.003943           151  454   303
834      Mickaël Piétrus  0.000     0.003950           150  455   305
6157     James Singleton  0.000     0.003977           149  456   307
1553    Jerry Stackhouse  0.000     0.004163           148  457   309
6633   Derrick Zimmerman  0.000    -0.008116           458  458     0

[458 rows x 6 columns]

In [532]:
def backtest(stats, model, seasons, predictors):
    aps = []
    all_predictions = []
    for season in seasons:
        train = stats[stats["Season"] < season]
        test = stats[stats["Season"] == season]
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [533]:
mean_ap, aps, all_predictions = backtest(stats, reg, seasons[5:], predictors)

In [534]:
mean_ap

0.055775800960759195

In [535]:
all_predictions[all_predictions["Rk"] < 5].sort_values("Diff").head(5)

               Player  Share  predictions  Predicted_Rk  Rk  Diff
6549   Brandon Clarke  0.100    -0.003952           503   4  -499
5072  Andrea Bargnani  0.413    -0.001014           349   2  -347
8373    Kawhi Leonard  0.078    -0.001137           343   4  -339
302    Nikola Mirotić  0.515    -0.000327           328   2  -326
955        Chris Paul  0.997    -0.000399           313   1  -312

In [536]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0    1
5   0.012589   3P
9   0.010843  2PA
6   0.010800  3PA
8   0.008331   2P
12  0.005158  FTA
7   0.003279  3P%
4   0.003038  FG%
2   0.002312   FG
11  0.001746   FT
10  0.001423  2P%
13  0.001339  FT%
14  0.001287  AST
16  0.001213  BLK
0   0.000130   GS
1  -0.000476   MP
15 -0.001292  STL
17 -0.007457  PTS
3  -0.007716  FGA

In [537]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Season"]].groupby("Season").apply(lambda x: x/x.mean())

In [538]:
stat_ratios

            PTS       AST       STL       BLK        3P  Season
0      0.627089  0.540640  0.894701  0.467519  0.000000     1.0
1      0.514213  1.459729  0.745584  0.467519  0.512850     1.0
2      0.790132  1.513793  1.491168  0.000000  1.794977     1.0
3      0.401337  0.108128  0.298234  0.233759  0.769276     1.0
4      1.994143  1.189409  0.894701  0.467519  2.820678     1.0
...         ...       ...       ...       ...       ...     ...
10370  0.735752  0.819562  0.479763  1.528302  0.650951     1.0
10371  0.071202  0.000000  0.000000  0.000000  0.130190     1.0
10372  1.281633  0.601012  1.119447  2.547170  0.520761     1.0
10373  0.474679  0.218550  0.319842  1.273585  0.650951     1.0
10374  1.008693  0.655649  1.119447  0.509434  2.343424     1.0

[10375 rows x 6 columns]

In [539]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [540]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [541]:
mean_ap, aps, all_predictions = backtest(stats, reg, seasons[5:], predictors)

In [542]:
mean_ap

0.05573046934664219

In [543]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [544]:
seasons[9:]

[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [545]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, seasons[9:], predictors + ["NPos", "NTm"])

In [546]:
mean_ap

0.046104010106825036

In [547]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [548]:
def backtest(stats, model, seasons, predictors):
    aps = []
    all_predictions = []
    for season in seasons:
        train = stats[stats["Season"] < season].copy()
        test = stats[stats["Season"] == season].copy()
        sc.fit(train[predictors])
        train[predictors] = sc.transform(train[predictors])
        test[predictors] = sc.transform(test[predictors])
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [549]:
mean_ap, aps, all_predictions = backtest(stats, reg, seasons[9:], predictors)

In [550]:
mean_ap

0.05831023230153973